.title {
  font-size: 4rem;
  color: var(--primary-color);
  word-break: normal;
  font-weight: bold;
  text-align: left;
  width: 100%;
}

.presentation-container {
  height: 70vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

@keyframes float {
	0% {
		transform: translatey(0px);
	}
	50% {
		transform: translatey(-20px);
	}
	100% {
		transform: translatey(0px);
	}
}

.floating {
	transform: translatey(0px);
	animation: float 6s ease-in-out infinite;
}

.description {
  font-size: 1.5rem;
}

@media screen and (width < 768px) {
  .title {
    font-size: 3rem;
  }

  .description {
    font-size: 1rem;
  }

  .content-container {
    gap: 30px
  }

  .floating {
    max-height: 250px;
  }
}